body {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
  color: #333;
  margin: 0 auto;

  /* font-family: 'Open Sans', sans-serif; */
  font-size: 105%;
  line-height: 1.5em;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family:"Proxima Nova Alt", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p {
  padding: 4px 0;
}

a {
  color: #E42;
  text-decoration: none;
}

a:hover {
  color: #E42;
  text-decoration: none;
}

.name a {
  color: #333;
  font-family: XtreemMedium;
}

header.main {
  padding-top: 5%;
}

.main {
  width: 40%;
  margin-left: 10%;
}

.name {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 50px;
}

.profile {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  float: right;
  position: relative;
  left: -50px;
  max-width: 100%;
  box-shadow: 1px 1px 5px #333;
  border-radius: 5px;
}

/* Small Displays */
@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {

  .profile {
    display: none;
  }

  .main, .page, .story, .writings {
    width: 90% !important;
    margin: 0 auto;
  }

  .writings ul li p {
    font-size: .7em;
    line-height: 1.25em;
    width: 90%;
  }

}

.writings {
  width: 50%;
  margin: 0 auto;
}

.writings ul {
  list-style: none;
  /*padding-left: 10% !important;*/
}

.writings ul li {
  padding: 10px 0;
  font-size: 1.1em;
}

.writings ul li p {
  font-size: .7em;
  line-height: 1.25em;
  width: 70%;
}

.caption {
  width: 80%;
  display: block;
  line-height: 1.3em;
  font-size: .7em
}

.story, .page {
  width: 50%;
  margin: 0 auto;
}

.story img, .page img {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 4px;
}
.story h3, .page h3 {
  font-weight: bold;
  font-size: 1.2em !important;
  border-bottom: 1px solid #DDD;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.story li, .page li {
  padding: 5px 0;
}

date {
  font-size: .6em;
}

code {
  font-weight: 100;
  font-family: "Consolas", "Menlo", monospace;
  font-size: .8em;
  background-color: #EEE;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

#terminal-form {
  position: relative;
  display: none;
  top: 0%;
  left: 0%;
  width: 100%;
}

#terminal-input {
  width: 100%;
  height: 200px;
  border: none;
  font-family: "consolas", monospace;
  font-size: 80%;
  background: #222;
  color: #60b044;
  overflow: hidden;
}

#terminal-input:focus {
  outline: 0 !important;
  border: 0 !important;
}

#toggle-terminal {
  cursor: pointer;
  float: right;
  position: relative;
  right: 5px;
}

.recommended img {
  width: 100%;
}

@import url(http://yandex.st/highlightjs/7.3/styles/github.min.css);


.wf-loading body {
    visibility: hidden;
}
