@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);

html {
  font: 105%/1.5 "RobotoDraft", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  padding: 4rem;
}

body {
  max-width: 50rem;
  margin: 0 auto;
}

a {
  color: #333;
}

a:hover {
  color: #105B63;
}

h3 {
  margin-bottom: 0;
  margin-top: 2rem;
}

img {
  display: block;
  max-width: 20rem;
  margin: 0 auto;
}

.site-header {
  padding-bottom: 1.3rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #CCC;
}

.site-header .name {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

.site-header .name:hover {
  color: #333;
}

.site-header .site-nav a {
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.3rem;
  text-transform: lowercase;
  color: #777;
}

.site-header .site-nav a.active {
  color: #105B63;
}

.site-header .site-nav a + a {
  margin-left: 1rem;
}

.main-content {
  max-width: 40rem;
  margin: 0 auto;
}

.subtitle {
  margin-top: 0;
  color: #777;
}
