body {
  margin: 0 auto;
  color: #333;
  font-weight: 300;
  font-size: 105%;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  padding: 4px 0;
}

a, a:hover {
  color: #E42;
  text-decoration: none;
}

header {
  margin-left: 15%;
  padding-top: 5%;
}

header h1 {
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 2em;
}

h1 a, h1 a:hover {
  color: #333;
  text-decoration: none;
  font-family: 'XtreemMedium';
}

/* Small Displays */
@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {

  header, .main {
    margin: 0 auto;
    width: 90% !important;
  }

}

.main {
  margin: 0 auto;
  width: 55%;
}

.main img {
  display: block;
  margin: 0 auto;
  width: 300px;
  max-width: 400px
  border-radius: 4px;
}

.main h3 {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  font-size: 1.2em !important;
}

.main li {
  padding: 5px 0;
}

.resume {
  margin-bottom: 300px;
}

.resume h2 {
  margin-bottom: 8px;
}

.resume h3 {
  margin-bottom: 10px;
  margin-top: 50px;
}

.resume h4 {
  margin: 5px 0;
}

.resume p {
  margin: 0;
  padding: 0;
}

.resume em {
  font-size: 0.85em;
}

.resume em a {
  font-style: normal;
}
