<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Lapeyre</title>
    <meta charset="utf-8">
    <link href="/assets/css/lib/normalize.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <a href="/" alt="Taylor Lapeyre" class="name">Taylor Lapeyre</a>
      <nav class="site-nav">
        {% if page.title == "Projects" %}
          <a href="/projects" alt="Projects" class="active">Projects</a>
        {% else %}
          <a href="/projects" alt="Projects">Projects</a>
        {% endif %}

        {% if page.title == "About" %}
          <a href="/about" alt="About Me" class="active">About Me</a>
        {% else %}
          <a href="/about" alt="About Me">About Me</a>
        {% endif %}
      </nav>
    </header>
    <div class="main-content">
      {{content}}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45552374-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
