<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Lapeyre</title>
    <meta charset="utf-8">
    <link href="/assets/css/lib/normalize.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/images/favicon.ico" rel="shortcut icon">
    <!-- Tracking.. -->
    <script type="text/javascript">
      (function() {
        window.PA_SITE_ID = 2108073788079;
        var u='//api.pleasant.io/';
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pleasant.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>
  <body>
    <header class="site-header">
      <a href="/" alt="Taylor Lapeyre" class="name">Taylor Lapeyre</a>
      <nav class="site-nav">
        {% if page.title == "Projects" %}
          <a href="/projects" alt="Projects" class="active">Projects</a>
        {% else %}
          <a href="/projects" alt="Projects">Projects</a>
        {% endif %}

        {% if page.title == "About" %}
          <a href="/about" alt="About Me" class="active">About Me</a>
        {% else %}
          <a href="/about" alt="About Me">About Me</a>
        {% endif %}
      </nav>
    </header>
    <div class="main-content">
      {{content}}
    </div>
  </body>
</html>
